.toast_viewport {
    --viewport-padding: 25px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: var(--viewport-padding);
    gap: 10px;
    max-width: 40vw;
    margin: 0;
    list-style: none;
    z-index: 2147483647;
    outline: none;
}

.toast_root {
    z-index: 2147483647;
    background-color: var(--color-primary);
    border-radius: var(--radius-md);
    padding: 15px;
    display: grid;
    grid-template-areas: 'title action' 'description action';
    grid-template-columns: auto max-content;
    column-gap: 15px;
    align-items: center;
}

.toast_root[data-state='open'] {
    animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.toast_root[data-state='closed'] {
    animation: hide 100ms ease-in;
}

.toast_root[data-swipe='move'] {
    transform: translateX(var(--radix-toast-swipe-move-x));
}

.toast_root[data-swipe='cancel'] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
}

.toast_root[data-swipe='end'] {
    animation: swipeOut 100ms ease-out;
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(calc(100% + var(--viewport-padding)));
    }

    to {
        transform: translateX(0);
    }
}

@keyframes swipeOut {
    from {
        transform: translateX(var(--radix-toast-swipe-end-x));
    }

    to {
        transform: translateX(calc(100% + var(--viewport-padding)));
    }
}

.toast_title {
    grid-area: title;
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--text-secondary);
    font-size: var(--font-md);
    display: flex;
    align-items: center;
    gap: 10px;
}

.toast_icon {
    font-size: var(--font-lg);
}

.toast_description {
    grid-area: description;
    font-size: var(--font-sm);
    color: var(--text-secondary);
}

.toast_close {
    background-color: transparent;
    border: none;
    top: 0;
    right: 0;
    font-size: var(--font-xl);
    cursor: pointer;
    color: var(--text-secondary);
}